.col-40 {
  background-color: white;  
  top: 2%;
  height: 75%;
  width: 46%;
  margin-right: 4%;
  margin-bottom: 10%;
  float: right;
  position:relative;
  border-radius: 4px;
}
  
.next button {
  background-color: #226556;
  border: none;
  color: white;
  padding: 0.5%;
  width: 8%;
  text-align: center;
  text-decoration: none;
  font-size: 1.2vw;
  border-radius: 0.5em;
  display: block;
  position: fixed;
  bottom: 5%;
  right:3%;
  &:hover {
    background: #267463;
    text-decoration: none;
    color: white;
    border: none;
  }
}

.next button:focus {
  outline:none !important;
}
@media screen and (max-width: 750px) {
  .next button {padding:0%;
  }
}