#pills-tab {
  background-color: #333;
  text-align: center;
  margin-left: 4%;

  .nav-link {
    color: white;
    font-size: 1.1vw;
    i {
      padding-right: 0.3em;
    }

    &:hover {
      background: #267463;
      text-decoration: none;
      color: white;
      border-radius: 0;
    }
  }

  .active {
    background: #226556;
    text-decoration: none;
    color: white;
    border-radius: 0;
  }
}
@media screen and (max-width: 600px) {
  #pills-tab{
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    height: 3.4% !important;
    .nav-link {
      color: white;
      font-size: 1vw;
      padding: 0%;
      margin: 0%;
      i {
        padding-right: 0.3em;
      }
      &:hover {
        padding: 0%;
        margin: 0%;  
       }
    }
  
    .active {
      background: #226556;
    }
  }
}