<div class="complete">
    <button id="ssp" class="mat-raised-button mat-primary" routerLink="/hr" (click)="selectednew()">New Stope Stability Prediction</button><br>
    <button class="mat-raised-button mat-primary" (click)="shareData()">Share Case History Data</button><br>
    <button class="mat-raised-button mat-primary" (click)="selected()">Export All Calculations</button><br>
    <a href="/download" download="StopeDatabase.xlsx"><button class="mat-raised-button mat-primary" type="button">Download Stope Database</button></a><br>
</div>