p {
  text-align:center;
  font-size: 1.1vw;
}

.mat-dialog-content {
  padding: 0%;
  margin: 0%;
}

#close {
  background-color: #226556;
  border: none;
  color: white;
  width: 25%;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 0.8%;
  font-size: 1.1vw;
  border-radius: 0.3em;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 0%;
  }

button:focus {
  outline:none !important;
}

@media only screen and (max-width:1000px) {
  #close {
    padding: 0%;
    line-height: 200%;
  }
  p {
    line-height: 200%;
  }
  .mat-dialog-actions {
    line-height: 200%;
  }
}