.next button {
  background-color: #226556;
  border: none;
  color: white;
  padding: 0.5%;
  width: 8%;
  text-align: center;
  text-decoration: none;
  font-size: 1.2vw;
  border-radius: 0.5em;
  display: block;
  position: fixed;
  bottom: 5%;
  right:3%;
  &:hover {
    background: #267463;
    text-decoration: none;
    color: white;
    border: none;
  }
}

.next button:focus {
  outline:none !important;
}

.results {
  position: fixed;
  overflow: hidden;
  width: 45%;
  top: 48%;
  right: 4%;
  height: 34%;
  border: none;
  background-color: white;
  padding: 1% 1.5%;
  margin-left: 2%;
  margin-top: 1%;
  color: #474747;

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2vw;
  }

  tr {
    border: none;
  }

  th {
    color:black;
    padding:2%;
    font-weight: normal;
  }
  td {
    padding:1%;
  }
  
  th, td {
    text-align: left;
    border-right: 0.1em solid #ddd;
    text-align:center;
  }

  #hr td{
    color: #226556;
    font-weight: bold;
    padding-bottom:2%;
  }

  h4 {
    padding-bottom: 0.5%;
    margin: 0;
    color: black;
    font-weight: bold;
    margin-left: 0%;
  }
}
@media screen and (max-width: 750px) {
  .next button {
    padding: 0%;
  }
  .results {
    position: fixed;
    overflow: hidden;
    top: 35%;
    right: 4%;
    height: 31%;
    padding: 1% 1.5%;
    margin-left: 2%;
    margin-top: 1%;
    font-size: 1.1vw;

    th {padding:0%;
    }
    td {
      padding:1%;
    }
    #hr td{
      padding-bottom:1%;
    }
  
    h4 {
      padding-bottom: 0.5%;
      margin-left: 0%;
    }
  }
}

#wrapper {
  position: fixed;
  top: 10%;
  right: 22%;
  width: 10vw;
  height: 20vh;
  //margin: 75px auto 0;
  perspective: 62.5em;
  margin-top: 1%;
}

#box-area {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation-name: rotate;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  position: absolute;
}

.box {
  width: inherit;
  height: inherit;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1em solid black;
  color: white;
  font-size: 1.1vw;
}

#front, #back {
  width: 7.2em;
  height: 14.4em;
}

#top, #bottom {
  width: 7.2em;
  height: 5.76em;
  top: 4.32em;
}

#left, #right {
  width: 5.76em;
  height: 14.4em;
  left: 0.72em;
}

#front {
  transform: translateZ(2.88em);
  background: #226556;
}

#back {
  transform: translateZ(-2.88em) rotateY(-180deg);
  background: #226556;
}

#top {
  transform: translateY(-7.2em) rotateX(90deg);
  background: #226556;
}

#bottom {
  transform: translateY(7.2em) rotateX(-90deg);
  background: #226556;
}

#left {
  transform: translateX(-3.6em) rotateY(-90deg);
  background: #226556;
}

#right {
  transform: translateX(3.6em) rotateY(90deg);
  background: #226556;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg) rotateZ(0deg);
  }

  25% {
    transform: rotateY(-90deg) rotateZ(30deg) rotateX(30deg);
  }

  50% {
    transform: rotateY(-200deg) rotateZ(0deg) rotateX(20deg);
  }

  75% {
    transform: rotateY(-270deg) rotateZ(-30deg) rotateX(30deg);
  }

  100% {
    transform: rotateY(-360deg) rotateZ(0deg);
  }
}
