.bg {
  background-color: #F5F5F5;
  width: 100%;
  height: 100%;
}

.col-40 {
  background-color: white;  
  top: 2%;
  height: 81%;
  width: 40%;
  margin-left: 8%;
  margin-bottom: 10%;
  float: left;
  position:relative;
  border-radius: 4px;
}

h4 {
  text-align: center;
  font-size: 1.5vw;
  padding-top: 2%;
  margin-bottom: 0.2%;
}

p {
  text-align: center;
  font-size: 1vw;
  padding-top: 0.3%;
  margin-bottom:0%;
}

hr {
  border-width:0;
  width: 76%;
  color: #226556;
  background-color: #226556;
  height: 0.1em;
  margin-top: 0;
}

.calc button {
  background-color: #226556;
  border: none;
  color: white;
  padding: 1%;
  width: 20%;
  text-align: center;
  text-decoration: none;
  font-size: 1.1vw;
  border-radius: 0.5em;
  margin-top: 2%;
  position: relative;
  margin-left: 19%;
  margin-right: 0%;
  &:hover {
    background: #267463;
    text-decoration: none;
    color: white;
    border: none;
  }
}

.calc button:focus {
  outline:none !important;}

#right button {
  margin-left: 5%;
}

input[type=number], select, textarea {
  border-color: #696969;
  color: black;
  margin-left: 17%;
  margin-bottom: 0%;
  width: 65%;
  height: 50%;
  padding: 0.5%;
  border-radius: 0.5em;
  font-size: 1vw;
  resize: vertical;
  box-shadow: none !important;
  &:focus {
    box-shadow:1px 1px 3px #226556 !important;
  }
}

label {
  padding: 0% 1% 0.5% 0%;;
  text-align: left;
  display: block;
  font-size: 1.1vw;
  color: black;
  margin-bottom: 0;
  margin-left: 17%;
}

select {
  border-color: #696969;
  color: black;
  margin-left: 17%;
  width: 65%;
  padding: 0.5%;
  border-radius: 0.5em;
  resize: vertical;
}
.select-danger {
  width: 100%;
  margin-left: 17%;
  padding-bottom: 0;
  margin-top:0%;
  position: absolute;
  font-size: 0.9vw;
  color: #e12120;
}
select:focus {
  outline:none !important;
  box-shadow:1px 1px 3px #226556 !important;
}

.back button {
  background-color: #226556;
  border: none;
  color: white;
  padding: 0.4%;
  width: 7%;
  text-align: center;
  text-decoration: none;
  font-size: 1.2vw;
  border-radius: 0.5em;
  display: block;
  position: fixed;
  bottom: 5%;
  left: 5%;
  &:hover {
    background: #267463;
    text-decoration: none;
    color: white;
    border: none;
  }
}

.back button:focus {
  outline:none !important;
}

button:focus {
  outline:none !important;
}
.text-danger {
  width: 100%;
  margin-left: 17%;
  padding-bottom: 0;
  margin-top:4%;
  position: absolute;
  font-size: 0.9vw;
}

i {
  border: none;
  background-color: white;
  color: rgb(179, 173, 173);
  font-size: 1.2vw;
  padding:0.5%;
  position: relative; 
}

::ng-deep .mat-tooltip{
  font-size: 0.9vw;
  width: 50%;
  padding:1%;
  margin: 0%;
  line-height: 130%;
  max-width: unset !important;
}

@media screen and (max-width: 750px) {
  label {
    margin-top: -2em;
    margin-bottom: -0.5em;
    padding-bottom: 0%;
  }
  .calc button {padding:0%;
  }
  .back button {
    padding: 0%;
  }
}
