.mat-dialog-content {
  overflow: hidden !important;
  height: 30% !important;
  padding-top: 2%;
}

img {
  text-align: center;
}

::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0.6em;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0.6em;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

h1 {
  text-align: center;
  font-size: 1.4vw;
  margin: 0%;
}

p {
  text-align: center;
  margin-top: 0%;
  font-size: 1.1vw;
}

label {
  margin-top: 1%;
  margin-bottom: 0%;
  text-decoration:solid;
  font-size: 1vw;
  text-align: left;
  display: block;
}

input, select {
  border-color: #696969;
  margin: 0.5%;
  font-size: 1vw;
  border:solid 0.1%;
  color: gray;
  display: inline;
  box-shadow: none !important;
  &:focus {
    box-shadow:1px 1px 3px #226556 !important;
  }
}

#cont {
  background-color: #226556;
  border: none;
  color: white;
  padding: 0.8%;
  width: 25%;
  margin-left: 37.5%;
  position: relative;;
  text-align: center;
  text-decoration: none;
  font-size: 1.1vw;
  border-radius: 0.5em;
  margin-top: 1%;
  &:hover {
    background: #267463;
    text-decoration: none;
    color: white;
    border: none;
  }
}

button:focus {
  outline:none !important;
}

.close.mat-button {
  position:absolute;
  top:0;
  right: 0;
  padding: 0.5%;
  min-width: auto;
  border: none;
  text-decoration: none;
}

#left {
  margin-left: 6%;
  margin-right: 5%;
  display: inline-block;
}

@media only screen and (max-width:750px) {
  p {
    line-height: 180%;
    margin-top: 2%;
  }
  #cont {
    padding: 0%;
  }
  #left {
    margin-left: 0%;
    margin-right: 2%;
    display: inline-block;
  }
}